<html>
  <head>
    <title>Add a person</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Add a person</h1>
          <form id="form">
            <div class="form-group">
              <label for="name">Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                autocomplete="off"
                required
              />
            </div>
            <div class="form-group" id="pictureInputs">
              <div class="form-group">
                <label for="picture">Picture:</label>
                <input
                  type="file"
                  class="form-control pictureInput"
                  name="picture"
                  onchange="addNewInput()"
                />
              </div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div id="status">
          <div id="uploadStatus"></div>
          <p id="amount" style="display: inline"></p>
          <p id="totalPictures" style="display: inline"></p>
        </div>
		<a href="/peopleToRecog/" class="btn btn-primary" style="margin-left: 25px">Volver</a>
      </div>
    </div>
  </body>
  <script>
    function addNewInput() {
      let pictureInputs = document.getElementById("pictureInputs");
      let inputs = pictureInputs.getElementsByTagName("div").length;

      if (inputs >= 10)
        return alert("No se permite subir mas de 10 imagenes a la vez.");

      let newInput = document.createElement("div");

      pictureInputs.appendChild(newInput);
      newInput.outerHTML = `<div class="form-group">
                  <label for="picture">Picture:</label>
                  <input
                    type="file"
                    class="form-control pictureInput"
                    name="picture"
                    onchange="addNewInput()"
                  />
                </div>`;
    }
  </script>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-app.js";
    import {
      getFirestore,
      addDoc,
      updateDoc,
      doc,
      collection,
    } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-firestore.js";
    import {
      getStorage,
      ref,
      uploadBytesResumable,
      getDownloadURL,
    } from "https://www.gstatic.com/firebasejs/9.9.4/firebase-storage.js";

    const firebaseConfig = {
      apiKey: "AIzaSyBBCioy9g_Vd5o8l8NCQ3iPXu6tVGfil0c",
      authDomain: "optika-6e7bd.firebaseapp.com",
      databaseURL: "https://optika-6e7bd-default-rtdb.firebaseio.com",
      projectId: "optika-6e7bd",
      storageBucket: "optika-6e7bd.appspot.com",
      messagingSenderId: "101731463535",
      appId: "1:101731463535:web:6305f94fa27c289e8e389a",
      measurementId: "G-1LJ84D06HZ",
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);

    document.getElementById("form").addEventListener("submit", submitForm);

    async function submitForm(e) {
      e.preventDefault();
      let inputs = document.getElementsByClassName("pictureInput");

      let i = 0;
      for (let input of inputs) {
        if (input.files[0]) i++;
      }

      document.getElementById(
        "totalPictures"
      ).innerText = `/ ${i} imagenes subidas.`;

      let urlArray = [];

      let userDoc = await addDoc(collection(db, "KnownPeople"), {
        name: document.getElementById("name").value,
      });

      for (let input of inputs) {
        if (input.files[0]) {
          let url = await uploadImagePromise(userDoc.id, input.files[0]);
          urlArray.push(url);
        }
      }

      updateDoc(doc(db, `KnownPeople/${userDoc.id}`), {
        images: urlArray,
      });
    }

    function uploadImagePromise(uid, image) {
      return new Promise((res, rej) => {
        let storage = getStorage();
        let storageRef = ref(storage, `KnownPeople/${uid}/${image.name}`);

        let task = uploadBytesResumable(storageRef, image);

        task.on(
          "state-changed",
          (snapshot) => {
            let percent = Math.round(
              (snapshot.bytesTransferred / snapshot.totalBytes) * 100
            );
            document.getElementById(
              "uploadStatus"
            ).innerText = `${image.name}: ${percent}%`;
          },
          (err) => {
            rej(err);
          },
          () => {
            let amount = document.getElementById("amount");
            amount.innerText = Number(amount.innerText) + 1;

            getDownloadURL(task.snapshot.ref).then((url) => {
              res(url);
            });
          }
        );
      });
    }
  </script>
</html>

