
<html>


    <head>
        <!-- {% load static %}
        <link rel="stylesheet" href="{% static 'style.css'%}">  -->
        <style>
            p{
                font-size: 26px;
                color: rgb(61, 98, 191)
            }
        </style>
    </head>

    <body>
        <!-- <h1>{{mail}} recibirá un correo cuando se detecte algo</h1> -->
        <h1>Usuario, hemos detectado la presencia de un negro!</h1>
        <p>
            Revisa lo que esta sucediendo a traves de 
            <a href="https://optika.azurewebsites.net/detections/"> tu dispositivo </a>
        </p>
        
    </body>



</html>