<!DOCTYPE html>
<!-- MINUTO 40-->
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--^^hacer que la pagina sea responsive--> 
    <title>Optika a </title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}"> 
    <!--^^conectar el css con el HTMl-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!--^^este es el fond, el estilo de letra-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
    <!--^^este es un boton-->

</head>
<body>
    <section class="header">
    <!--^^el nombre de la clase de esta seccion-->
        <nav>
            <!-- <a href="create.html"><img src="images./logo1.png"> </a> -->
            <div class="nav-links" id="navLinks">
                <!-- <i class="fa fa-times-circle" onclick="hideMenu()"></i> -->
                <!-- ^^Le aniadimos un boton para que se peuda cerrar en los disposititvos mobiles -->
                <ul>
                    <li> <a href="">HOME</a> </li>
                    <li> <a href="/about">ABOUT</a> </li>
                    <li> <a href="">IA</a> </li>
                    <li> <a href="">INGRESA</a> </li>
                    <!-- <li> <a href="">REGISTRATE</a> </li> -->
                   
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <!-- las barras de menu  -->
        </nav>

    <div class="text-box">
        
        <h1>El sistema de seguridad que revolucionará la industria</h1>
        <p>
            Optika es un disruptivo sistema <br> de seguridad con inteligencia artifical
            <!--- br es un line brake -->
            
        </p>
        <!-- <a href="">Registrate</a>-->
        <a href="/mainPage" class="hero-btn"> Registrate</a>
        <!-- PARA HACER QUE ESO SE VEA COMO UN BOTON, lo creamos en una clase y con CSS lo hacemos el boton -->
    </div>

    </section>

    <!--texto inferior pagina principal-->
    <section class="curso">
        <h1>Seguridad automatizada</h1>
        <p> Tranquilidad innigualable al disponer de optika </p>

        <div class="row">
            <div class="course-col">
                <h3>¿Qué es Optika?</h3>
                <p>
                    Optika es un innovador sistema de vigilancia con inteligencia artificial. Gracias a este dispositivo no tendras que preocuparte por quien estuvo al frente de tu puerta.
                </p>
            </div>
            <div class="course-col">
                <h3>¿Por qué elegir Optika?</h3>
                <p>
                    A diferencia de los sistemas de seguridad tradicionales, con Optika puedes saber si la persona frente a tu puerta es conocida o desconocida, y además comunicarte con ella. 
                </p>
            </div>
            <div class="course-col">
                <h3>¿Qué funciones me ofrece Optika?</h3>
                <p>
                    -Comunicación en tiempo real entre tú y la persona frente el dispositivo-<br> 
                    -Historial de detecciones-<br> 
                    -Recibir alertas cuando sean detectadas personas desconocidas-<br> 
                    -Video en vivo-
                </p>
            </div>
        </div>

    </section>


    <!-- JavaScript para mostrar el Menu -->
    <script>

        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.Style.right = "0";
        }
        function hideMenu(){
            navLinks.Style.right = "-200px";
        }

    </script>

</body>
</html>

<section class="cta">

    <h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ<br> ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ </h1>


</section>

<!-- <section class="cta">

    <h1>No hay nada de que preocuparse<br> mientras cuentes con tu Optika ;) </h1>

    <a href="/mainPage"> registrate ahora </a> 

    <p> Seguridad inteligente</p>

</section> -->

<!-- Footer -->

<section class="footer">
    <h4>Sobre nosotros</h4>
    <p>Somos un equipo de estudiantes de cuarto semestre de ingenieria en sistemas de la universidad EAFIT. 
       <br>conoce más de nuestro proyecto aquí
    </p>
    <!-- <div class="icons">
        <i class="fa fa-star"></i> 
    </div> -->
    <!-- esto deberia ser un icono bonito, pero los iconos no funcionan! -->
</section>