<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'styleMain.css'%}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">

</head>
<body>
    <section class="header">
        <nav>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times-circle" onclick="hideMenu()"></i>
                <!-- ^^Le aniadimos un boton para que se peuda cerrar en los disposititvos mobiles -->
                <ul>
                    <li> <a href="{% url 'home' %}">Log out </a> </li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
            <!-- las barras de menu  -->
        </nav>

    <div class="text-box">
        
        <h1>Bienvenido, usuario!</h1>
        <p>
            No hay nada que preocuparse <br> mientras cuentes con tu Optika ;)      
        </p>
        <a href="{% url 'liveCam' %}" class="hero-btn"> Camara en vivo</a>
        <a href="{% url 'detections' %}" class="hero-btn"> Historial de detecciones</a>
        <a href="{% url 'peopleToRecog' %}" class="hero-btn"> Gestion de personas conocidas</a>
    </div>

</body>
</html>